body {
    margin: 0;
    padding: 0;
    color: #2e2624;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-image: url(../img/bg-kobu.png);
}


.container, .container-fluid{
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.img-fluid {
    min-width: 100% !important;
}
.index {
    background-image: url(../img/kobu-web-vertical.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center fixed;
    min-height: 100vh;
    
}

.index h1, .index h2 {
    display: inline-block;
}

.index h1 {
    font-size: 2rem;
}

.index h2 {
    font-size: 1.2rem;
    line-height: 2.8rem;
}

.index h3 {
    margin: 1.3rem 0 !important;
}
.index .domain {
    height: 6rem;
    width: 6rem;
    background-size: 3.5rem;
    background-position: center center;
    background-color: #ffffff;
    border-radius: 48rem;
    background-repeat: no-repeat;
}

.index .wp, 
.index .jquery, 
.index .vue, 
.index .nuxt{
    background-size: 6rem;
}

.more-big{
    display: none;
}
.container >div {

}

.header {
}

.header em{
}
.header h1 {
}

.header h2 {
}

.header h2:before{
}

.header h2:after{ 
}


.header .social-links{
   justify-content: flex-start;
    /*display: flex;*/
}

.header .social-links li{
    display: inline-flex;
    font-size: 2rem;
    margin-right: 1rem;
}

.header .social-links li a {
}


h2 {
    font-family: 'Roboto Slab', serif;
}


.box{
}

.before-box, .after-box{
    position: absolute; 
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.87); 
}

.after-box{
    right: 0;
}

.sites-container{
    width: /*100vw*/ 64vw;
    position: relative;
    height: 25rem;
    overflow: hidden;
}

.sites-items {
    position: absolute;
    display: -webkit-inline-box;
    box-sizing: border-box;
    height: 100%;
    /*
    display: -webkit-inline-box;
    overflow: hidden; */
}

.sites-item {
    padding: 1rem;
    width: 22.3vw;
    height: 20rem;
}



.domains{
}

.domains ul {
}
.domains ul li {
}
.domains ul li > img{
}

.presentation{
}
.presentation em{
}

.sites-navigation{

}

@media screen and (min-width: 1024px)
{

    .index {
        background-image: url(../img/kobu-web.png);
    }
}

@media screen and (min-width: 1500px)
{
    .index h1, .index h2 {
        display: block;
    
    }

    .more-big{
        display: inline-block;
    }

    .index .domain {
        height: 8rem;
        width: 8rem;
        background-size: 5rem;
    }
    .wp, .jquery, .vue, .nuxt{
        background-size: 8rem;
    }
}

@media screen and (min-width: 1700px)
{
    .index .domain {
    height: 9rem;
    width: 9rem;
    background-size: 6rem;
    }
    .wp, .jquery, .vue, .nuxt{
        background-size: 9rem;
    }
}
